@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .custom-scrollbar {
    @apply overflow-auto;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-gray-100;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full border-2 border-transparent bg-gray-500 bg-clip-padding hover:bg-gray-800;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }
}
